/* Common Style */
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
    font-family: "Be Vietnam Pro", cursive;
    font-weight: 400;
}

html {
    font-size: 62.5%;
}

/*End of Common Style */
/* Section 1 */
.section-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 2rem;
    letter-spacing: .1rem;
    outline: 2px solid #ccc;
    position: fixed;
    z-index: 100;
    width: 100%;
    background-color: #fff;

}

.header-logo {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.header-logo-img {
    width: 38px;
    height: 38px;
}

.header-search {
    position: relative;
}

.header-search-input {
    height: 4rem;
    width: 420px;
    border-radius: 4rem;
    padding-left: 3rem;
    border-width: 2px;
    border-color: #ccc;
}

.header-search i {
    position: absolute;
    left: 1.5rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5rem;
    color: #ccc;
}

.header-btn {
    border-radius: 3.5rem;
    padding: 0 2rem;
    height: 3.5rem;
    border-width: 0;
    cursor: pointer;
}

.header-btn.login {
    background-image: linear-gradient(to right, #e08906, #e0890650);
    border-width: 0;
}

.header-btn:hover {
    opacity: 90%;
}

/* End of Section 1 */
/* Navbar  */
.my-navbar {
    padding: 2rem 0.5rem;
    height: calc(100vh - 5.1rem);
    top: 5.1rem;
    margin-right: .5rem;
    position: fixed;

}

.navbar-icon {
    display: block;
    width: 38px;
    height: 38px;
    background-color: aqua;
    margin-bottom: 1rem;
}

/* End of Navbar  */


/* Section 2 */
.section-2 {
    padding-top: 6rem;
    padding-left: 6rem;
    padding-right: 6rem;
    color: white;
    line-height: 1.5;
   
}

.section-2  .list-box {
    /* width: 100%; */
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.section-2 .box-item {
    background-image: linear-gradient(to right ,#2a0b99,#ccc);
    border: 1px solid #ccc;
    display: flex;
    border-radius: 2rem;
    padding:3rem;
    box-shadow: 2px 2px 2px #2a0b99;
}
.section-2 .box-item img {
    height: 7rem;
    width: 7rem;
    object-fit: contain;
    margin-right: 2rem;
    border-radius: .5rem;
}


/* End of Section 2 */